@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@import url(responsive.css);
body
{
    margin: 0;
    padding: 0;
    font-family: 'Afacad', sans-serif;
    background: url(12.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    box-sizing: border-box;
}
header
{
    position: relative;
    align-items: center;
    max-width: 1200px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo {
    float: left;
    padding-left: 25px;
    padding-top: 4px;
    max-height: 50px; /* Sesuaikan dengan tinggi logo */
}

nav
{
    float:right;
    
}

nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}
nav ul li a.active,
nav ul li a:hover
{
    background: #000000;
    color: #fff;
    transition: 0.5s;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 42.9%;
  overflow: hidden;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #000000;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li 
    {
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .video-container {
      position: relative;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
    }}
    
    /* Media query untuk ukuran setengah tablet */
    @media only screen and (min-width: 601px) and (max-width: 800px) {
      .video-container {
        position: relative;
        width: 100%;
        padding-top: 70.5%;
        overflow: hidden;
      }
    }

